*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
#photo-wall{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}
.img-fg{
	width: 260px;
	height: 260px;
	background-color: #fff;
	padding-top: 30px;
	text-align: center;
	position: absolute;
}
.img-fg img{
	width: 200px;
	height: 200px;
}
.img-fg h2{
	margin-top: 20px;
}
figure::after{
	content: "fff";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #f00;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}



























